################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CIE202-project
/Debug
/aa.txt
/mmm.txt
/nm.txt
/bb.txt
/no.txt
/mm.txt
/sada.txt
/ss.txt
/.vs
/SImage.cpp
/ColorPalette.cpp
/gg.txt
/mor.txt
